.Items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.Items button{
    background-color: rgb(216, 88, 88);
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    margin: auto 5px;
}

@media (min-width: 500px) {
    .Items {
        flex-flow: row;
    }
}